<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>computed</title>
</head>
<body>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <div id="app">
      <input type="text" v-model="km"/>千米=<input type="text" v-model="m">米
    </div>

    <script>
       var vm= new Vue({
            el:"#app",
            data:{
                km:1,
                m:1
            },
            watch:{
                km(value){
                    this.km=value;
                    this.m=value*1000;
                },
                m(value){
                    this.m=value;
                    this.km=value/1000;
                }
            }
        });
       vm.$watch('km',function (newValue,oldValue) {
            document.getElementById('app').innerHTML="修改前的值为"+oldValue+" 修改后的值为："+newValue
       });
    </script>
</body>
</html>